apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: pro
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: flask-app:prac3
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8000

          env:
            # --------------------
            # Entorno
            # --------------------
            - name: APP_ENV
              value: "prod"

            - name: APP_INSTANCE_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

            # --------------------
            # Logo desde MinIO (URL firmada)
            # --------------------
            - name: LOGO_URL
              value: "http://minio-pro.local:8082/api/v1/download-shared-object/http://minio-pro.local:8082/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL2xvZ291aWIvbG9nb3VpYi5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BR1JaMDNKQVpXMVBYM1lSRkRBTyUyRjIwMjYwMjAyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDIwMlQyMTI2NTFaJlgtQW16LUV4cGlyZXM9NDMyMDAmWC1BbXotU2VjdXJpdHktVG9rZW49ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhZMk5sYzNOTFpYa2lPaUpCUjFKYU1ETktRVnBYTVZCWU0xbFNSa1JCVHlJc0ltVjRjQ0k2TVRjM01ERXdOamt6TWl3aWNHRnlaVzUwSWpvaVlXUnRhVzRpZlEuX005cmJOOHczSlk0N2JSS2tVRTJObVBuNmh3SjBKN3VBclBpVnh3YkliRV9yd3Zabkg4RHp6WmtCQnYyTkxZUWY4TmJ4ZnJucEZvdGk5NkJ3Q29ZTHcmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JnZlcnNpb25JZD1udWxsJlgtQW16LVNpZ25hdHVyZT1lOTY4YjBlMGJjY2YyN2VlODY2MDkzMmRlOThmYjM0ZmJjNzUxZjAzMjg2Y2E3MDY4OWRiZTU1NTVhZGI1YmY0"

            # --------------------
            # Postgres
            # --------------------
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DB_PORT

            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD

            # --------------------
            # Redis (solo PRO)
            # --------------------
            - name: REDIS_HOST
              value: redis

            - name: REDIS_PORT
              value: "6379"

          # --------------------
          # Probes
          # --------------------

          # Liveness: solo proceso Flask
          livenessProbe:
            httpGet:
              path: /live
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
            failureThreshold: 3

          # Readiness: DB + Redis
          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
