apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flask-app
  namespace: pro
spec:
  ingressClassName: traefik
  rules:
    - host: flask-pro.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: flask-app
                port:
                  number: 80
